{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.mdx",
            "options": {
                "tabWidth": 2,
                "printWidth": 60
            }
        }
    ]
}
