.TitleContainer {
    display: flex;
    align-items: center;
    background-color: rgb(78 84 95);
    color: rgb(238 238 238);
    font-weight: 600;
    padding: 0.7rem 1.5rem;
    border-radius: 10px 10px 0 0;
    margin-top: 1.2rem;
    font-family: 'Ubuntu Mono';
    font-size: 1.1rem;
    letter-spacing: 0.4px;
}

.CopyButton {
    border: 0;
    margin: 0;
    padding: 0.25rem 0.6rem;
    line-height: 1.2;
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 800;
    letter-spacing: 0.6px;
    border-radius: 4px;
    background-color: #4e545f;
    color: white;
    cursor: pointer;
    box-shadow: inset 1px 1px 10px #28292c;
}
