@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'century';
    src: url('/fonts/century-schoolbook/century-reg.woff2') format('woff2'),
        url('/fonts/century-schoolbook/century-reg.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'century';
    src: url('/fonts/century-schoolbook/century-italic.woff2') format('woff2'),
        url('/fonts/century-schoolbook/century-italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'century';
    src: url('/fonts/century-schoolbook/century-bold.woff2') format('woff2'),
        url('/fonts/century-schoolbook/century-bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'century';
    src: url('/fonts/century-schoolbook/century-boldItalic.woff2') format('woff2'),
        url('/fonts/century-schoolbook/century-boldItalic.woff') format('woff');
    font-style: italic;
    font-weight: 700;
}
