.Nav {
    height: var(--nav-height);
}

.NavContainer {
    font-family: 'Oswald';
    width: min(90%, 1000px);
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.Logo {
    font-size: 3.9rem;
    font-weight: 700;
    height: 100%;
    line-height: 1.5;
}

.UnorderedList {
    margin-left: auto;
    padding: 0;
    display: flex;
}

.UnorderedList li {
    list-style: none;
}

.UnorderedList a {
    list-style: none;
    font-size: 1.8rem;
    font-weight: 300;
    margin-right: 2rem;
}

.UnorderedList li:last-child a {
    margin-right: 0;
}
