.Nav {
    background-color: var(--accent-pink);
    color: white;
    font-family: 'Reforma', serif;
    height: 4.6rem;
}

.UnorderedList {
    margin-left: auto;
    padding: 0;
    display: flex;
}

.UnorderedList li {
    list-style: none;
}

.UnorderedList a {
    list-style: none;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-right: 2rem;
    font-weight: 300;
}

.UnorderedList li:last-child a {
    margin-right: 0;
}
