.Nav {
    background: var(--purple);
    color: white;
    font-family: 'Baloo 2', sans-serif;
    height: 4.6rem;
}

.NavContainer {
    width: min(90%, 900px);
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.UnorderedList {
    margin-left: auto;
    padding: 0;
    display: flex;
}

.UnorderedList li {
    list-style: none;
}

.UnorderedList a {
    list-style: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.UnorderedList li:last-child a {
    margin-right: 0;
}
