.LatestPost {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 2px 3px 4px 2px rgb(0 0 0 / 15%);
    margin-top: 8rem;
}

.LatestPost__CopyContainer {
    width: 75%;
    padding: 0 2rem 2rem 2rem;
}

h2.LatestPost__Title {
    margin: 1rem 0 0.2rem;
    font-size: 2.4rem;
    font-weight: 400;
}

.LatestPost__Date {
    color: #5f6063;
    font-size: 0.9rem;
}

.TagPill {
    border: 3px solid var(--accent-blue);
    border-radius: 50px;
    margin-left: 8px;
    font-size: 0.75rem;
    padding: 0.3rem 0.8rem;
    font-weight: 600;
}

.LatestPost__Excerpt {
    margin-top: 1rem;
}

.LatestPost__Image {
    border-radius: 0px 4px 4px 0px;
}

.PostsList {
    padding: 0;
}

.ListItem {
    list-style: none;
}
