.PageContainer {
    width: min(90%, 1230px);
    margin: 0 auto 16rem;
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

div.TitleContainer {
    text-align: center;
    grid-column: 1/4;
    width: min(100%, 840px);
    margin: 0 auto 4rem;
}

.Title {
    margin: 5rem 0 2rem;
}

.Subtitle {
    font-family: 'century', serif;
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.4;
    margin: 0 auto 0rem;
    text-transform: none;
}

.DateContainer {
    margin-bottom: 2.6rem;
}

.Date {
    color: var(--black);
    font-family: 'Oswald';
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 2rem;
}

.Categories {
    border-top: 1px solid var(--purple);
    border-bottom: 1px solid var(--purple);
    height: 32px;
    line-height: 30px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.PageContainer > * {
    grid-column: 2 / auto;
}
