.PageContainer {
    width: min(90%, 1230px);
    margin: 0 auto 16rem;
    display: grid;
    grid-template-columns: 1fr min(60ch, 100%) 1fr;
}

div.TitleContainer {
    text-align: center;
    grid-column: 1/4;
    width: min(100%, 840px);
    margin: 0 auto 4rem;
}

.Title {
    margin: 5rem 0 1.2rem;
}

.Subtitle {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
    margin: 0 auto 0.8rem;
}

.DateContainer {
    margin-bottom: 2.6rem;
}

.Date {
    color: var(--off-black);
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-bottom: 2rem;
}

.Categories {
    border-top: 1px solid var(--purple);
    border-bottom: 1px solid var(--purple);
    height: 32px;
    line-height: 30px;
    font-size: 0.8rem;
    font-family: 'Baloo 2';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.PageContainer > * {
    grid-column: 2 / auto;
}
