/* todo: this could be a blog post too */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ================================================== */
/* ================ Tiempos Headline ================ */
/* ================================================== */

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-Regular.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-Regular.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-Regular.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-Italic.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-Italic.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-Italic.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-Light.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-Light.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-Light.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-LightItalic.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-LightItalic.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-LightItalic.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-Medium.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-Medium.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-Medium.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-MediumItalic.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-MediumItalic.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-MediumItalic.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-Semibold.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-Semibold.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-Semibold.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-SemBdIta.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-SemBdIta.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-SemBdIta.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-SemBdIta.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-Bold.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-Bold.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-Bold.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-BoldItalic.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-BoldItalic.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-Black.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-Black.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-Black.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
}

@font-face {
    font-family: 'Headline';
    src: url('/fonts/tiempos-headline/TiemposHeadline-BlackItalic.eot');
    src: url('/fonts/tiempos-headline/TiemposHeadline-BlackItalic.woff2') format('woff2'),
        url('/fonts/tiempos-headline/TiemposHeadline-BlackItalic.woff') format('woff'),
        url('/fonts/tiempos-headline/TiemposHeadline-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
    font-display: fallback;
}

/* ================================================== */
/* ===================== Averta ===================== */
/* ================================================== */

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Bold.woff2') format('woff2'),
        url('/fonts/averta/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Regular.woff2') format('woff2'),
        url('/fonts/averta/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Light.woff2') format('woff2'),
        url('/fonts/averta/Averta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-RegularItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Semibold.woff2') format('woff2'),
        url('/fonts/averta/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
