.AboutMain {
    width: min(90%, 900px);
    margin: 0 auto;
}

.Container {
    height: calc(100vh - var(--nav-height));
    padding-bottom: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Heading {
    text-align: center;
    font-size: 3.8rem;
}

.AboutDave {
    font-weight: 200;
    width: min(90%, 700px);
    font-size: 1.4rem;
    line-height: 1.7;
}

@media (max-width: 560px) {
    .AboutDave {
        font-size: 1.3rem;
    }
}

.Link {
    font-weight: 400;
}
