.AboutMain {
    width: min(90%, 900px);
    margin: 0 auto;
}

.Container {
    height: 100%;
    margin-top: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Heading {
    text-align: center;
    font-weight: 500;
}

.AboutDave {
    font-weight: 200;
    width: min(90%, 700px);
    font-size: 1.6rem;
    line-height: 1.7;
}

@media (max-width: 560px) {
    .AboutDave {
        font-size: 1.3rem;
    }
}

.Link {
    font-weight: 400;
}
