.BlogIndexMain {
    width: min(90%, 640px);
    margin: 0 auto;
}

.PostsList {
    margin: 0;
    padding: 4rem 0 5rem;
}

.Post {
    margin-bottom: 3.5rem;
    border: 2px solid var(--black);
    padding: 1rem 2rem;
}

.Post a {
    text-decoration: none;
}

.Heading {
    margin: 0;
    margin-bottom: 1rem;
}

.Date {
    font-size: 1.1rem;
    color: #383245;
    font-style: italic;
}

.Excerpt {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.ListItem {
    list-style: none;
}

.Draft {
    color: white;
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 800;
    vertical-align: super;
    margin-left: 0.6rem;
    padding-right: 0.3rem;
    border: 2px solid red;
    border-radius: 4px;
    background: red;
}
