@font-face {
    font-family: 'Dank Mono';
    src: url('/fonts/DankMono/DankMono-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Dank Mono';
    src: url('/fonts/DankMono/DankMono-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('/fonts/PermanentMarker-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: 700;
}

:root {
    /* Colors */
    --site-background: #fff6f4;
    --text-color: #1a191e;
    --text-secondary-color: #091d50;

    /* Code block styles */
    --prism-theme-white: #fff;
    --prism-theme-background: #282c34;
    --prism-theme-char: #d8dee9;
    --prism-theme-comment: #b2b2b2;
    --prism-theme-keyword: #c5a5c5;
    --prism-theme-primitive: #5a9bcf;
    --prism-theme-string: #8dc891;
    --prism-theme-variable: #d7deea;
    --prism-theme-boolean: #ff8b50;
    --prism-theme-punctuation: #88c6be;
    --prism-theme-tag: #fc929e;
    --prism-theme-function: #79b6f2;
    --prism-theme-className: #fac863;
    --prism-theme-method: #6699cc;
    --prism-theme-operator: #fc929e;
    --prism-theme-highlight: #353b45;
    --code-font-family: 'Dank Mono';

    /* Measurements */
    --highlight-before-width: 0.43em;
}

html,
body {
    padding: 0;
    margin: 0;
    background: var(--site-background);
    color: var(--text-color);
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

p {
    font-size: 1.15rem;
    line-height: 1.8;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

strong {
    color: var(--text-secondary-color);
}

code {
    background: #f8d2e2;
    color: var(--text-secondary-color);
    font-family: var(--code-font-family);
    font-size: 1.07rem;
    padding: 0.2rem;
    border-radius: 4px;
    white-space: pre-wrap;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* ======================================================= */
/* ==================  PRISM THEME  ====================== */
/* ======================================================= */

code[class*='language-'],
pre[class*='language-'] {
    color: var(--prism-theme-white);
    background: none;
    font-family: var(--code-font-family), Consolas, Monaco, 'Andale Mono',
        'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    scrollbar-width: none; /* needed for Firefox */
}

/* Code blocks */
pre[class*='language-'] {
    padding: 1em;
    margin: 0px 0px 0.5em;
    overflow: auto;
    border-radius: 0 0 10px 10px;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: var(--prism-theme-background);
}

pre[class*='language-']::-webkit-scrollbar {
    display: none; /* Hides scrollbar but allows scrolling */
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 10px;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--prism-theme-comment);
}

.token.punctuation {
    color: var(--prism-theme-punctuation);
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--prism-theme-primitive);
}

.token.function {
    color: var(--prism-theme-function);
}

.token.boolean {
    color: var(--prism-theme-boolean);
}

.token.tag {
    color: var(--prism-theme-tag);
}

.token.attr-name {
    color: var(--prism-theme-keyword);
}

.token.string {
    color: var(--prism-theme-string);
}

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--prism-theme-char);
}

.token.operator,
.token.entity,
.token.url,
/* .language-css .token.string,
.style .token.string, */
.token.variable {
    color: var(--prism-theme-variable);
}

.token.atrule,
.token.class-name {
    color: var(--prism-theme-className);
}

.token.attr-value {
    color: var(--prism-theme-string);
}

.token.keyword {
    color: var(--prism-theme-keyword);
}

/* .token.regex, */
.token.important {
    font-weight: 400;
}

.token.bold {
    font-weight: 700;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/* Highlight line! */
.mdx-marker {
    background: var(--prism-theme-highlight);
    position: relative;
    left: -0.57em;
    padding-left: 0.57em;
    /* Add width of padding left and right, and width of highlight */
    width: calc(100% + 1.14em + 0.43em);
}

.mdx-marker::before {
    content: '';
    height: 100%;
    width: 0.43em;
    left: -0.43em;
    background: #8b9fc6;
    position: absolute;
}

/* Title for a code block! */
.remark-code-title {
    background-color: rgb(78 84 95);
    color: #e9e9e9;
    padding: 0.7em 1em;
    border-radius: 10px 10px 0 0;
}

/* ======================================================= */
/* ================  PRISM THEME END  ==================== */
/* ======================================================= */
