@font-face {
    font-family: 'Dank Mono';
    src: url('/fonts/DankMono/DankMono-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Dank Mono';
    src: url('/fonts/DankMono/DankMono-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

/* Freight Sans Light */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansLight/FreightSansProLight-Regular.woff2') format('woff2'),
        url('/fonts/FreightSansLight/FreightSansProLight-Regular.woff') format('woff'),
        url('/fonts/FreightSansLight/FreightSansProLight-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

/* Freight Sans Light Italic */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansLight/FreightSansProLight-Italic.woff2') format('woff2'),
        url('/fonts/FreightSansLight/FreightSansProLight-Italic.woff') format('woff'),
        url('/fonts/FreightSansLight/FreightSansProLight-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}

/* Freight Sans Book */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansBook/FreightSansProBook-Regular.woff2') format('woff2'),
        url('/fonts/FreightSansBook/FreightSansProBook-Regular.woff') format('woff'),
        url('/fonts/FreightSansBook/FreightSansProBook-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* Freight Sans Book Italic */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansBook/FreightSansProBook-Italic.woff2') format('woff2'),
        url('/fonts/FreightSansBook/FreightSansProBook-Italic.woff') format('woff'),
        url('/fonts/FreightSansBook/FreightSansProBook-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

/* Freight Sans Medium */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansMedium/FreightSansProMedium-Regular.woff2') format('woff2'),
        url('/fonts/FreightSansMedium/FreightSansProMedium-Regular.woff') format('woff'),
        url('/fonts/FreightSansMedium/FreightSansProMedium-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

/* Freight Sans Medium Italic */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansMedium/FreightSansProMedium-Italic.woff2') format('woff2'),
        url('/fonts/FreightSansMedium/FreightSansProMedium-Italic.woff') format('woff'),
        url('/fonts/FreightSansMedium/FreightSansProMedium-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

/* Freight Sans Semibold */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansSemibold/FreightSansProSemibold-Regular.woff2') format('woff2'),
        url('/fonts/FreightSansSemibold/FreightSansProSemibold-Regular.woff') format('woff'),
        url('/fonts/FreightSansSemibold/FreightSansProSemibold-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

/* Freight Sans Semibold Italic */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansSemibold/FreightSansProSemibold-Italic.woff2') format('woff2'),
        url('/fonts/FreightSansSemibold/FreightSansProSemibold-Italic.woff') format('woff'),
        url('/fonts/FreightSansSemibold/FreightSansProSemibold-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
}

/* Freight Sans Bold */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansBold/FreightSansProBold-Regular.woff2') format('woff2'),
        url('/fonts/FreightSansBold/FreightSansProBold-Regular.woff') format('woff'),
        url('/fonts/FreightSansBold/FreightSansProBold-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

/* Freight Sans Bold Italic */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansBold/FreightSansProBold-Italic.woff2') format('woff2'),
        url('/fonts/FreightSansBold/FreightSansProBold-Italic.woff') format('woff'),
        url('/fonts/FreightSansBold/FreightSansProBold-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

/* Freight Sans Black */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansBlack/FreightSansProBlack-Regular.woff2') format('woff2'),
        url('/fonts/FreightSansBlack/FreightSansProBlack-Regular.woff') format('woff'),
        url('/fonts/FreightSansBlack/FreightSansProBlack-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

/* Freight Sans Black Italic */
@font-face {
    font-family: 'Freight Sans';
    src: url('/fonts/FreightSansBlack/FreightSansProBlack-Italic.woff2') format('woff2'),
        url('/fonts/FreightSansBlack/FreightSansProBlack-Italic.woff') format('woff'),
        url('/fonts/FreightSansBlack/FreightSansProBlack-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
}

/* Reforma Thin */
@font-face {
    font-family: 'Reforma';
    src: url('/fonts/Reforma1918/Reforma1918-Blanca.ttf');
    font-style: normal;
    font-weight: 300;
}

/* Reforma Thin Italic */
@font-face {
    font-family: 'Reforma';
    src: url('/fonts/Reforma1918/Reforma1918-BlancaItalica.ttf');
    font-style: italic;
    font-weight: 300;
}

/* Reforma Regular */
@font-face {
    font-family: 'Reforma';
    src: url('/fonts/Reforma1918/Reforma1918-Gris.ttf');
    font-style: normal;
    font-weight: 400;
}

/* Reforma Regular Italic */
@font-face {
    font-family: 'Reforma';
    src: url('/fonts/Reforma1918/Reforma1918-GrisItalica.ttf');
    font-style: italic;
    font-weight: 400;
}

/* Reforma Bold */
@font-face {
    font-family: 'Reforma';
    src: url('/fonts/Reforma1918/Reforma1918-Negra.ttf');
    font-style: normal;
    font-weight: 700;
}

/* Reforma Bold Italic */
@font-face {
    font-family: 'Reforma';
    src: url('/fonts/Reforma1918/Reforma1918-NegraItalica.ttf');
    font-style: italic;
    font-weight: 700;
}

:root {
    /* Colors */
    --off-white: #f1f1f1;
    --off-black: #232632;
    --accent-red: #ca2d20;
    --accent-orange: #ba423b;
    --accent-pink: #af2d4c;
    --accent-yellow: #e9b219;
    --accent-blue: #5698ae;
    --accent-green: #3a9c75;

    /* Code block styles */
    --prism-theme-white: #fff;
    --prism-theme-background: #282c34;
    --prism-theme-char: #d8dee9;
    --prism-theme-comment: #b2b2b2;
    --prism-theme-keyword: #c5a5c5;
    --prism-theme-primitive: #5a9bcf;
    --prism-theme-string: #8dc891;
    --prism-theme-variable: #d7deea;
    --prism-theme-boolean: #ff8b50;
    --prism-theme-punctuation: #88c6be;
    --prism-theme-tag: #fc929e;
    --prism-theme-function: #79b6f2;
    --prism-theme-className: #fac863;
    --prism-theme-method: #6699cc;
    --prism-theme-operator: #fc929e;
    --prism-theme-highlight: #353b45;
    --code-font-family: 'Dank Mono';

    /* Measurements */
    --highlight-before-width: 0.43em;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    color: var(--off-black);
    font-family: 'Freight Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Reforma', serif;
}

h1 {
    font-size: 72px;
    font-weight: 300;
    line-height: 75px;
}

h2:not(.subtitle),
h3,
h4 {
    margin: 2.5rem 0 1rem;
}

p {
    font-size: 1.32rem;
    line-height: 1.7;
    margin-block-start: 0;
    margin-block-end: 1.5em;
}

code {
    background: #e8e8e8;
    color: var(--off-black);
    font-family: var(--code-font-family);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    white-space: pre-wrap;
}

p > code {
    font-size: 1.1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

blockquote.blockquote {
    margin: 0;
    padding: 0 2rem;
    border-left: 3px solid var(--accent-blue);
}

/* DROPCAP STUFF */
.dropcap {
    background: var(--off-black);
    color: var(--accent-blue);
    font-family: 'Reforma', serif;
    float: left;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.17;
    margin: 0.1em 0.15em 0 0;
    padding: 0.16em;
    padding-top: 14px;
}
.dropcap:before,
.dropcap:after {
    content: '';
    display: block;
}
.dropcap:before {
    margin-top: -0.2em;
}
.dropcap:after {
    margin-bottom: -0.15em;
}

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* ======================================================= */
/* ==================  PRISM THEME  ====================== */
/* ======================================================= */

code[class*='language-'],
pre[class*='language-'] {
    color: var(--prism-theme-white);
    background: none;
    font-family: var(--code-font-family), Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    scrollbar-width: none; /* needed for Firefox */
}

/* Code blocks */
pre[class*='language-'] {
    padding: 1em;
    margin: 0px 0px 0.5em;
    overflow: auto;
    border-radius: 0 0 10px 10px;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: var(--prism-theme-background);
}

pre[class*='language-']::-webkit-scrollbar {
    display: none; /* Hides scrollbar but allows scrolling */
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 10px;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--prism-theme-comment);
}

.token.punctuation {
    color: var(--prism-theme-punctuation);
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--prism-theme-primitive);
}

.token.function {
    color: var(--prism-theme-function);
}

.token.boolean {
    color: var(--prism-theme-boolean);
}

.token.tag {
    color: var(--prism-theme-tag);
}

.token.attr-name {
    color: var(--prism-theme-keyword);
}

.token.string {
    color: var(--prism-theme-string);
}

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--prism-theme-char);
}

.token.operator,
.token.entity,
.token.url,
/* .language-css .token.string,
.style .token.string, */
.token.variable {
    color: var(--prism-theme-variable);
}

.token.atrule,
.token.class-name {
    color: var(--prism-theme-className);
}

.token.attr-value {
    color: var(--prism-theme-string);
}

.token.keyword {
    color: var(--prism-theme-keyword);
}

/* .token.regex, */
.token.important {
    font-weight: 400;
}

.token.bold {
    font-weight: 700;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/* Highlight line! */
.mdx-marker {
    background: var(--prism-theme-highlight);
    position: relative;
    left: -0.57em;
    padding-left: 0.57em;
    /* Add width of padding left and right, and width of highlight */
    width: calc(100% + 1.14em + 0.43em);
}

.mdx-marker::before {
    content: '';
    height: 100%;
    width: 0.43em;
    left: -0.43em;
    background: #8b9fc6;
    position: absolute;
}

/* Title for a code block! */
.remark-code-title {
    background-color: rgb(78 84 95);
    color: #e9e9e9;
    padding: 0.7em 1em;
    border-radius: 10px 10px 0 0;
}

/* ======================================================= */
/* ================  PRISM THEME END  ==================== */
/* ======================================================= */
